<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <meta name="keywords" content= <% @seo_keywords %>/>

   <%= favicon_link_tag 'favicons/favicon.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag(
        'quarto.gif',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        poster: 'quarto.gif'
    )
    %>

          <%= render "shared/application_nav" %>

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%= alerts %>

  </body>
</html>
